[run]

# __main__ is intentionally trivial so it doesn't need tests.
# Once the test generation for events makes the data-store event covered,
#   remove that coverage exclusion.
omit =
    petronia_native/__main__.py
    petronia_native/common/events/impl/i10n.py
    petronia_native/common/events/impl/tests/i10n_test.py
    petronia_native/common/events/impl/monitor.py
    petronia_native/common/events/impl/hotkey.py
    petronia_native/common/events/impl/tests/hotkey_test.py
    petronia_native/common/events/impl/screen.py
    petronia_native/common/events/impl/window.py
