[run]

# __main__ is intentionally trivial so it doesn't need tests.
# Once the test generation for events makes the data-store event covered,
#   remove that coverage exclusion.
omit =
    petronia_core/datastore/events/impl/datastore.py
    petronia_core/timer/events/impl/timer.py
    petronia_core/hotkey_binding/events/ext/hotkey.py
    petronia_core/hotkey_binding/events/ext/tests/hotkey_test.py
    petronia_core/hotkey_binding/events/impl/hotkey_binding.py
    petronia_core/hotkey_binding/state/hotkey_binding.py
